
<nav>
  
  <a href="/"
     style = "margin:10px ; {%if page.url == "/" %}color: blue;{% endif %}"
  >
    Home
  </a>
   
  <a href="/about.html"
     style = "margin:10px ; {%if page.url == "/about.html" %}color: blue;{% endif %}"
  >
    About
  </a>

  <a href="/files/CV.pdf"
      style = "margin:10px"  target="_blank"
  >
    CV
  </a>
  
  <a href="/blog.html"
     style = "margin:10px ; {%if page.url == "/blog.html" %}color: blue;{% endif %}"
     >  
    Blog
  </a>

  <a href="/notes.html"
     style = "margin:10px ; {%if page.url == "/notes.html" %}color: blue; font-size:30px;{% endif %}"
  >
    Note
  </a>
</nav>


<hr style="height:2px;border-width:0;color:gray;background-color:gray">
